* {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;

  box-sizing: border-box;
  /* min-height: 100vh; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header,
main
 {
  width: auto;
}

header {
  margin-bottom: 50px;
}

h1 {
  font-weight: 900;
}

h2 {
  margin-bottom: 15px;
  text-align: center;
}

input,
button {
  width: 100%;
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;

  padding: 6px 12px;
}

input {
  display: block;
  border: none;
  outline: 1px solid black;
}

input:focus {
  outline-width: 2px;
  outline-color: blue;
}

input.error {
  outline-color: red;
}

input.error + .validation-msg::after {
  content: "Please Enter Player Name";
  font-size: 12px;
  color: red;
  position: relative;
}

button {
  font-size: 18px;
  font-weight: bold;
}

.player-form {
  width: auto;
  padding: 30px;

  display: flex;
  flex-direction: column;
}

.player-form input {
  padding-left: 30px;
}

.form-control {
  margin-bottom: 10px;
}

.symbol {
  height: 18px;
  width: 18px;
  position: absolute;
  padding: 5px;
}

.symbol.x {
  filter: invert(9%) sepia(100%) saturate(6726%) hue-rotate(246deg) brightness(97%) contrast(138%);
}

.symbol.o {
  filter: invert(17%) sepia(84%) saturate(4127%) hue-rotate(125deg) brightness(94%) contrast(102%);
}

.game-board {
  --cell-width: 100px;

  display: none;
  grid-template-columns: repeat(3, var(--cell-width));
  grid-template-rows: repeat(3, var(--cell-width));
}

.game-board > div {
  border: solid 1px black;
  font-size: 56px;
  text-align: center;
  line-height: var(--cell-width);
  cursor: pointer;
}

.marked {
  background-color: lightcyan;
}

.game-over {
  display: none;
}